.paymain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/images/doc.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}



.product {
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto;
    backdrop-filter: blur(10px); 
    /* filter: blur(10px);  */
}
   .payment-details {
    flex: 1;
    text-align: left;
   }
   
   .payment-image {
    flex: 1;
    text-align: right;
    display: none; /* Hide by default */
   }
   
   .payment-image img {
    max-width: 100%;
    height: auto;
   }
   
   @media (min-width: 768px) { /* Adjust breakpoint as needed */
    
   }
   
   .product h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
   }
   .payment-details {
    display: flex;
    flex-direction: column;
    align-items: center;
 /* Center the payment details */
}
   
   .product p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
   }
   
   .product button {
    background-color: #3399cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
   }
   
   .product button:hover {
    background-color: #2a80b9;
   }



   @media (min-width: 768px) {
    .payment-image {
        display: block;
    }

    .product{
        /* width: 80%; */
        /* height: 50%; */
    }
    
}


.paymain p {
    font-size: 18px; /* Adjust font size */
    line-height: 1.6; /* Improve readability */
    color: #333; /* Darker text for better contrast */
    max-width: 600px; /* Limit the width to make it more readable on larger screens */
    margin: 0 auto; /* Center the paragraph */
    padding: 20px; /* Add some padding around the paragraph */
}

@media (max-width: 768px) {
    .paymain p {
        font-size: 16px; /* Smaller font size for smaller screens */
        max-width: 90%; /* Use a larger percentage width on smaller screens */
    }
}